body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 

ul.a {
  list-style-type: circle;
}
 

.bg-dark {
  background-color: black!important;
}


@include media-breakpoint-up(xs) {
  .input-width {
    width:100%;
  } 
}

@include media-breakpoint-up(sm) {
  .input-width {
    width:100%;
  }
}


@include media-breakpoint-up(xl) {
  .input-width {
    width:50%;
  }
}

@include media-breakpoint-up(md) { 
  .input-width {
    width:100%;
  }
}
/* 
@media (width : 100%)  {
  #searchbar{
    width: 100%;
  }
} */

/* #searchbar {
  width:50%;
}  */